/* Cores 5a edicao, vermelho */
body {                 background-color:#c1003d; }
#main h2 {                 border-color:#c1003d; }
#main th {                 border-color:#c1003d; }
#main .difftable td {      border-color:#c1003d; }
#main table {              border-color:#c1003d; }
#topbanner a {                    color:#c1003d; }
code, pre {                       color:#c1003d; }
#footer, #footer a {              color:#FFFFFF; }
