/* Cores 4a edicao */
body {                 background-color:#00629B; }
#main h2 {                 border-color:#00629B; }
#main th {                 border-color:#00629B; }
#main .difftable td {      border-color:#00629B; }
#main table {              border-color:#00629B; }
#topbanner a {                    color:#00629B; }
code, pre {                       color:#00629B; }
#footer, #footer a {              color:#FFFFFF; }
