Redirect permanent /expressoes-regulares-1-awk.pdf /download/expressoes-regulares-1-awk.pdf
Redirect permanent /expressoes-regulares-2-awk.pdf /download/expressoes-regulares-2-awk.pdf

# Faxina pra ed4
Redirect permanent /festa.html       /ed3/festa.html
Redirect permanent /twitter.html     /ed3/twitter.html
Redirect permanent /exemplos.html    /ed3/exemplos.html
Redirect permanent /img/faixa.png    /ed3/faixa.png
Redirect permanent /img/capa.jpg     /ed3/capa.jpg
Redirect permanent /img/capa-300.jpg /ed3/capa-300.jpg
