/* Cores 3a edicao */
body {                 background-color:#BBD424; }
#main h2 {                 border-color:#BBD424; }
#main th {                 border-color:#BBD424; }
#main .difftable td {      border-color:#BBD424; }
#main table {              border-color:#BBD424; }
#topbanner a {                    color:#BBD424; }
#footer, #footer a {              color:#2A5100; }
